.HP {
  color: rgb(66, 222, 228);
}

.MP {
  color: rgb(247, 224, 139);
}

.ATT {
  color: rgb(221, 90, 240);
}

.DEF {
  color: rgb(120, 120, 120);
}

.SPD {
  color: rgb(65, 228, 128);
}

.DEX {
  color: rgb(251, 178, 113);
}

.VIT {
  color: rgb(206, 40, 31);
}

.WIS {
  color: rgb(74, 147, 254);
}
